<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>change password</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    
</head>
<body>
    <div id="change_password_body">
        <div id="change_password_content">
            <div id="change_password_main">
                <h1>change password</h1>
                <div id="change_password_password">
                    <label>password:</label>
                    <input type="text"/>
                </div>
                <div id="change_password_newpassword">
                    <label>new password:</label>
                    <input type="password"/>
                </div>
                <div id="change_password_reenter">
                    <label>reenter:</label>
                    <input type="text"/>
                </div>
                <div id="change_password_button">
                    <input type="button" value="change password">
                </div>
            </div>
        </div>
    </div>
</body>
</html>