<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forget password</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">


</head>
<body>
    <div id="forget_password_nav">
        <a href="{{url_for('home')}}">home</a>
        <a href="{{url_for('user_login')}}" id="forget_password_login_link">login</a>
    </div>
    <div id="forget_password_body">
        <div id="forget_password_content">
            <div id="forget_password_main">
                <h1>forget password</h1>
                <div id="forget_password_username">
                    <label>username:</label>
                    <input type="text"/>
                </div>
                <div id="forget_password_aadharno">
                    <label>aadherNo:</label>
                    <input type="text"/>
                </div>
                <div id="forget_password_password">
                    <label>password:</label>
                    <input type="password"/>
                </div>
                <div id="forget_password_reenter">
                    <label>re enter:</label>
                    <input type="text"/> 
                </div>
                <div id="forget_password_changepassword">
                    <input type="button" value="change password"/>
                </div>
            </div>
        </div>

    </div>

</body>
</html>